bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.Discord/.idea/vcs.xml
/.idea/.idea.Discord/.idea/indexLayout.xml
/.idea/.idea.Discord/.idea/encodings.xml
/.idea/.idea.Discord/.idea/.gitignore
